PaginaWEB/Connected Services/ServiceReferenceUsuariosss/LoginSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginSVC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52866/LoginSVC.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52866/LoginSVC.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginSVC_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="ILoginSVC_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginSVC_NombreUSuario_InputMessage">
    <wsdl:part name="parameters" element="tns:NombreUSuario" />
  </wsdl:message>
  <wsdl:message name="ILoginSVC_NombreUSuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:NombreUSuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginSVC">
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginSVC/ValidarUsuario" message="tns:ILoginSVC_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginSVC/ValidarUsuarioResponse" message="tns:ILoginSVC_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NombreUSuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginSVC/NombreUSuario" message="tns:ILoginSVC_NombreUSuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginSVC/NombreUSuarioResponse" message="tns:ILoginSVC_NombreUSuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginSVC" type="tns:ILoginSVC">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/ILoginSVC/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NombreUSuario">
      <soap:operation soapAction="http://tempuri.org/ILoginSVC/NombreUSuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginSVC">
    <wsdl:port name="BasicHttpBinding_ILoginSVC" binding="tns:BasicHttpBinding_ILoginSVC">
      <soap:address location="http://localhost:52866/LoginSVC.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>